<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script>
$(document).ready(function() {
    $("submit").click(function() {
       var productmodel = {
          id : "3",
          name : "Ginger"
       };
       var requestJSON = JSON.stringify(productmodel);
       $.ajax({
          type : "POST",
          url : "http://localhost:8080/save",
          headers : {
             "Content-Type" : "application/json"
          },
          data : requestJSON,
          success : function(data) {
             alert(data);
          },
          error : function(data) {
          }
       });
    });
 });
</script>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
    <div align="center">
        <h1>Create New Product</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}"
            method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td><input type="text" th:field="*{brand}" /></td>
                </tr>
                    <td colspan="2"><button name="button" type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>